@model IEnumerable<DataApp.Core.Models.ExpenseItem>
@using DataApp.Core.Models
@{
    ViewBag.Title = "Expense Items";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TransactionAccount> accounts = (List<TransactionAccount>)ViewBag.TransactionAccounts;
}

<h2>Expense Items</h2>

<div class="row search-bar" style="padding:6px 0 6px 0">
    <div class="col-md-12">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-success" })
        <form class="navbar-form navbar-right" role="form" method="get">
            <div class="form-group">
                <input id="search-string" placeholder="Search" class="form-control" type="text" name="search">
            </div>
            <button type="submit" id="search-btn" class="btn btn-primary">Find</button>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expense.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TransactionAccountId)*@
            For(Account)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Expense.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TransactionAccountId)*@
            @accounts.SingleOrDefault(acc => acc.Id == item.TransactionAccountId).Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
