@model IEnumerable<DataApp.Core.Models.Expense>

@{
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Expenses</h2>

<div class="row search-bar" style="padding:6px 0 6px 0">
    <div class="col-md-12">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-success" })
        <form class="navbar-form navbar-right" role="form" method="get">
            <div class="form-group">
                <input id="search-string" placeholder="Search" class="form-control" type="text" name="search">
            </div>
            <button type="submit" id="search-btn" class="btn btn-primary">Find</button>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voucher.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
