@model IEnumerable<DataApp.Core.Models.Check>
@using DataApp.Core.Models
@{
    ViewBag.Title = "Checks";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TransactionAccount> accounts = (List<TransactionAccount>)ViewBag.TransactionAccounts;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TransactionAccountId)*@
            From
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.AddedOn.ToShortDateString())*@
            @item.AddedOn.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TransactionAccountId)*@
            @accounts.SingleOrDefault(acc => acc.Id == item.TransactionAccountId).Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
